<div
  *ngIf="deleteNotification"
  class="alert alert-danger container"
  style="width: 40%"
>
  <div class="row justify-content-center align-items-center">
    <strong>Are you sure you want to delete {{ user.name }}?</strong>
    <div class="mt-3 p-2">
      <span
        class="btn btn-primary"
        (click)="deleteNotification = !deleteNotification"
        >Cancel</span
      >
      <span class="btn btn-danger ml-4" (click)="deleteUser()">Delete</span>
    </div>
  </div>
</div>

<table class="table table-hover table-dark mt-3">
  <thead>
    <tr>
      <th scope="col">Id#</th>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">Company Name</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <th scope="row" class="clean-td">{{ user.id }}</th>
      <td class="clean-td">{{ user.name }}</td>
      <td class="clean-td">{{ user.address.city }}</td>
      <td class="clean-td">{{ user.company.name }}</td>
      <td class="clean-td">
        <span
          class="btn btn-info"
          (click)="onUserInfoSelection(user)"
          style="width: 90%"
        >
          user info
        </span>
      </td>
      <td class="clean-td">
        <span>
          <user-app-ngbd-modal-component
            [user]="user"
          ></user-app-ngbd-modal-component>
        </span>
      </td>
      <td class="clean-td">
        <span
          class="btn btn-danger"
          (click)="deleteWarning(user)"
          style="width: 90%"
        >
          delete user
        </span>
      </td>
    </tr>
  </tbody>
</table>
